[submodule "Examples/OtpSecureShowcase/Carthage/Checkouts/otpsecure-swift"]
	path = Examples/OtpSecureShowcase/Carthage/Checkouts/otpsecure-swift
	url = https://github.com/ecertic/otpsecure-swift.git
