# Mac OS X
.DS_Store

## Build generated
build/
DerivedData

## Various settings
project.xcworkspace
xcuserdata

# Swift Package Manager
.build/

# Carthage
Carthage/Build
Carthage/Checkouts

# CocoaPods
**/Pods

project.xcworkspace/
